/* Reset some default styles */
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, del, dfn, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: Arial, sans-serif;
	background-color: #3c444c;
	font-size: 21px;
	overflow-y: scroll; /* Add vertical scrollbar */
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #323232;
	color: #ce6a6c;
	text-align: center;
	padding: 20px;
}

/* Style the horizontal line */
hr {
    border: none; /* Remove the default line styles */
    border-top: 2px solid #606c78; /* Set the line color and thickness */
    margin: 8px 0; /* Adjust the margin to control the space above and below the line */
}

/* Style the PDF resume button */
.resume-button {
    background-color: #ce6a6c;; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    margin-left: 10px; /* Adjust as needed for spacing */
}

/* Hover effect for the button */
.resume-button:hover {
    background-color: #ce6a6c;; /* Change background color on hover */
}

#page {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
}

/* New styles for the "About Me" section with a static size */
#about {
	height: 450px;
	margin: 0 auto;
	background-color: #24262f;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

#about h2 {
	font-size: 2rem;
	background-color: #24262f;
	padding: 20px;
}

#about p {
	font-size: 1.2rem;
	padding: 20px;
}

#portfolio {
	width: 700px;
	height: 350px;
	margin: 20px auto;
	border: 1px solid #24262f;
	border-radius: 10px;
	background-color: #494d55;

	text-align: center;
}

.portfolio-title {
	font-size: 2rem;
	margin-top: 20px;
	padding: 10px;
}

.project-grid {
	display: grid;
	grid-template-columns: 350px 200px;
	grid-row: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.project {
	width: 300px;
	height: 210px;
	margin-bottom: 10px;
	background-color: #333;
	padding: 20px;
	border: 1px solid #24262f;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	font-family: Arial, sans-serif;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

/* CSS for the initial state of elements */
.project.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slight upward translation */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* CSS for the visible state with fade-in animation */
.project.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.project img {
	border: 1px solid #24262f;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
	max-width: 100%;
}

.project img:hover
{
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.project h3 {
	margin-top: 10px;
	font-size: 1.5rem;
}

.project p {
	font-size: 1rem;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
    font-size: 20px;
	text-decoration: none;
	color: #c5b3b6;
	font-weight: thin;
}

nav ul li a:hover
{
	color: #ce6a6c;
}

h1, h2, h3 {
	text-decoration: none;
	color: #ce6a6c;
	font-weight: bold;
}

#contact
{
	width: 700px;
	height: 100px;
	margin: 20px auto;
	border: 1px solid #24262f;
	border-radius: 10px;
	background-color: #494d55;

	text-align: center;
}

/* Style links to remove text highlight */
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}

p {
	text-decoration: none;
	color: #c5b3b6;
	font-weight: thin;
}

section {
	padding: 20px;
}

/* Styles for social icons */
.social-icons {
    position: sticky;
	top: 20px;
	right: 20px;
}

.social-icons a {
	text-decoration: none;
	color: #dedede;
	font-size: 24px;
	margin-left: 10px;
}

.social-icons a:hover {
	color: #ce6a6c;
}

