/* Reset some default styles */
html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn,  img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 5;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    display: block;
    margin: 8;
    font-family: Arial, sans-serif;
    background-color: #3c444c;
    font-size: 14px;
    overflow-y: scroll; /* Add vertical scrollbar */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#page {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

div {
    display: block;
}
/* New styles for the "About Me" section with a static size */
#about {
    height: 550px; /* Set the desired fixed height for the section */
    margin-left:auto;
    margin-right:auto;
    width:960px;
    background-color: #24262f; /* Optional background color for the "About Me" section */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

#about h2 {
    font-size: 2rem;
    background-color: #24262f; /* Set the background color for the heading */
    padding: 20px; /* Add some padding to separate it from the background */
}

#about p {
    font-size: 1.2rem;
    padding: 20px; /* Add some padding to separate it from the background */
}


#portfolio {
    background-color: #494d55; /* Set the background color for the title */
    margin: 20px auto;
    width:  800px;
    height: 600px;
}

.portfolio-title {
    font-size: 2rem;
    margin-top: 20px; /* Adjust as needed to create spacing between title and projects */
    padding: 10px; /* Add padding to style the title */
}

.project-grid{
    display:grid;
    grid-template-columns: 350px 200px;
    grid-row: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.project{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #4f5e6a;
    padding: 20px;
    border: 1px solid #24262f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color:#333;
    padding:20px;
    border-radius:10px;
    font-size:40px;
    font-family: Arial, sans-serif;
    cursor: pointer; /* Change cursor on hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

/* Add a class to control opacity and animation */
.project.hidden {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slight upward translation */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Optional: Add a slight upward translation */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Hover effect styles */
.project:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a stronger shadow on hover */
    background-color: #566169; /* Change background color on hover */
}

.project img {
    max-width: 100%;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project p {
    font-size: 1rem;
}

header {
    background-color: #323232;
    color: #ce6a6c;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 4px;
    margin-bottom: 7px;
    padding: 20px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c5b3b6;
    font-weight: bold;
}

h1, h2, h3
{
    text-decoration: none;
    color: #ce6a6c;
    font-weight: bold;
}

p {
    text-decoration: none;
    color: #c5b3b6;
    font-weight: bold;
}

section {
    padding: 20px;
}

/* Styles for social icons */
.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #dedede;
    font-size: 24px;
    margin-left: 10px;
}

.social-icons a:hover {
    color: #0074D9; /* Change color on hover */
}


